MISTRAL_API_KEY=zaxyXeF16RyZhgRAaQ1oJaSIY8qNvxkB
MISTRAL_TEXT_MODEL=mistral-medium-latest
MISTRAL_CODE_MODEL=devstral-latest
MISTRAL_AUDIO_MODEL=voxtral-mini-transcribe-latest
MISTRAL_IMAGE_MODEL=pixtral-large-latest
MISTRAL_OCR_MODEL=mistral-ocr-latest
INTENT_CONFIDENCE_THRESHOLD=0.7
